.info-card {
  max-width: 80%;
}

.patient-icon {
  border-radius: 60px;
  height: 120px;
  width: 120px;
  text-align: center;
  margin-right:10px;
  float: left;
}

.info-title{
  margin: 20px;
  color: #3f51b5;
  font-weight: 500;
  font-size: 35px;
}

.card-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

.patient-icon span {
  line-height: 115px;
  font-size: 48px;
  font-weight: bold;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-70{
  width: 70%;
}

.flex-50{
  width: 50%;
}

.flex-30{
  width: 30%;
}
