<h1 class="info-title">Patient Info</h1>
<mat-card class="info-card">
  <mat-card-header>
    <mat-card-title class="card-title">{{ fullName }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div [patientIconColor]="iconColor"  class="patient-icon">
      <span>{{ initials }}</span>
    </div>
    <mat-list role="list" class="flex">
      <mat-list-item role="listitem" class="flex-50 flex" >
        <div class="flex-30">
          <span>Gender:</span>
        </div>
        <div class="flex-70">
          <span>{{ patient.sex }}</span>
        </div>
      </mat-list-item>
      <mat-list-item role="listitem" class="flex-50 flex">
        <div class="flex-30">
          <span>Birth data:</span>
        </div>
        <div class="flex-70">
          <span>{{ patient.birthData }}</span>
        </div>
      </mat-list-item>
      <mat-list-item role="listitem" class="flex-50 flex">
        <div class="flex-30">
          <span>Phone:</span>
        </div>
        <div class="flex-70">
          <span>{{ patient.phone }}</span>
        </div>
      </mat-list-item>
      <mat-list-item role="listitem" class="flex-50 flex">
        <div class="flex-30">
          <span>Work phone:</span>
        </div>
        <div class="flex-70">
          <span>{{ patient.workPhone }}</span>
        </div>
      </mat-list-item>
      <mat-list-item role="listitem" class="flex-50 flex">
        <div class="flex-30">
          <span>Email:</span>
        </div>
        <div class="flex-70">
          <span>{{ patient.email }}</span>
        </div>
      </mat-list-item>
      <mat-list-item role="listitem" class="flex-50 flex">
        <div class="flex-30">
          <span>Business:</span>
        </div>
        <div class="flex-70">
          <span>{{ patient.business }}</span>
        </div>
      </mat-list-item>
      <mat-list-item role="listitem" class="flex-50 flex">
        <div class="flex-30">
          <span>Zip:</span>
        </div>
        <div class="flex-70">
          <span>{{ patient.zip }}</span>
        </div>
      </mat-list-item>
      <mat-list-item role="listitem" class="flex-50 flex">
        <div class="flex-30">
          <span>City:</span>
        </div>
        <div class="flex-70">
          <span>{{ patient.city }}</span>
        </div>
      </mat-list-item>
      <mat-list-item role="listitem" class="flex-50 flex">
        <div class="flex-30">
          <span>Street:</span>
        </div>
        <div class="flex-70">
          <span>{{ patient.street }}</span>
        </div>
      </mat-list-item>
      <mat-list-item role="listitem" class="flex-50 flex">
        <div class="flex-30">
          <span>House:</span>
        </div>
        <div class="flex-70">
          <span>{{ patient.house }}</span>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>