<form [formGroup]="loginForm" (ngSubmit)="submit(loginForm)">
      <h2 mat-dialog-title>Login</h2>
      
      <mat-dialog-content>      
            <app-input 
                  label="Login" 
                  formControlName="login" 
                  placeholder="Login" 
                  type="text">
            </app-input>
            <br>
            <app-input 
                  label="Password" 
                  formControlName="password" 
                  placeholder="Password" 
                  type="password">
            </app-input>
      </mat-dialog-content>
      
      <mat-dialog-actions>
            <button class="mat-raised-button" (click)="close()">Close</button>
            <button class="mat-raised-button mat-primary" type="submit">Save</button>
      </mat-dialog-actions>
</form>
<p>Form value: {{ loginForm.value | json }}</p>