.menu-sidenav i {
    display: inline-block;
    height: 30px;
    color: #757575;
}

.menu-sidenav a {
    text-decoration: none;
    color: #757575;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}

.menu-sidenav hr {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    border-color: #FFA726;
}

.menu-sidenav {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 22px;
    overflow: hidden;
    min-height: 900px;
    max-height: 1300px;
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 3px 3px -2px rgba(0, 0, 0, 0.12);
}

.menu-on {
    width: 110px;
    transition-property: width;
    transition-duration: 0.75s;
}

.menu-off {
    width: 29px;
    transition-property: width;
    transition-duration: 0.75s;
}

.menu-open-close-arrow {
    visibility: visible;
    position: absolute;
    height: 30px;
    left: 27px;
    top: 15px;
}

.menu-item-wrapper {
    position: relative;
    margin-top: 20px;
    overflow: hidden;
    max-height: 30px;
    min-width: 30px;
    max-width: 110px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}

.menu-item-wrapper i {
    position: relative;
    top: 5px;
    margin-right: 6px;
}

.menu-item-wrapper a.active {
    background-color: #FFA726;
    color: white;
    border: 20px solid #FFA726;
    border-left-width: 3px;
}