<div class="flex-80">
  <mat-tab-group class="demo-tab-group">
    <mat-tab label="Info">
      <app-patient-info
        [patient]="patient">
      </app-patient-info>
    </mat-tab>
    <mat-tab label="Meds">
      <h1>Meds</h1>
    </mat-tab>
    <mat-tab label="Diagnoses">
      <h1>Diagnoses</h1>
    </mat-tab>
  </mat-tab-group>
</div>